h1 {
    color: rgb(150, 52, 52); font-size: 24px;
    font-family: "游ゴシック";
    text-align: center
}
h2 {
    color:rgb(150, 52, 52); font-size: 18px;
    font-family: "游ゴシック";
    text-align: center
}
h3 {
    color:rgb(150, 52, 52); font-size: 18px;
    font-family: "游ゴシック";
    text-align: center
}
body{
    color: rgb(150, 52, 52); background-color: #a4d8ba;
    font-family: "丸ゴ";
    text-align: justify;

   
}

article{
    background-color:#ffffe0;
}